<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="_layout">
<div layout:fragment="content">


    <div class="container flex flex-wrap flex-col border p-8 ml-12  mt-10 shadow-sm w-2/3 lg:w-2/3 mb-20 rounded-sm">


        <h2 class="text-left text-3xl">Our History</h2>
        <hr class="border-t border-grey-light">
        <p class="text-left  text-grey text-xl">As one of the biggest canadian professional networking resource we are
            proud of serving millions of customers since 2020.
            Having our initial startup in 2020, in this very short period of time we made a huge progress in achieving
            our vision and goals. </p>
        <br><br>

        <h2 class="text-left text-3xl">Our Vision</h2>
        <hr class="border-t border-grey-light">
        <p class="text-left text-grey text-xl">Provide social-professional networking and job opportunity freely to
            everyone at a safe environment.</p>
        <br><br>

        <h2 class="text-left text-3xl">Our Mission</h2>
        <hr class="border-t border-grey-light">
        <p class="text-left text-grey text-xl">Our mission is to be able to give everyone the chance to grow their
            professional networking and help them achieve their dreams, find job opportunities and become
            successful. </p>
        <br><br>

        <h2 class="text-left text-3xl">Our Team </h2>
        <hr class="border-t border-grey-light">
        <p class="text-left text-grey text-xl">We started as nine software developers and our team continues to grow
            more.</p>
        <p class="text-left text-grey text-xl">Our team has a variety of skills and has strong background in
            development, prototyping and management. </p>
    </div>
</div>
</html>