<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout" >

<div layout:fragment="content">

    <form th:action= "@{/admincreation}" th:object="${registrationRequest}" method="post">
        <div class="container flex items-center justify-center mb-8 w-1/2">
            <div class="relative flex flex-col p-6 border space-y-8 rounded-sm border-black-variant bg-grey shadow-lg w-full m-8 hover:bg-white">

                <p class="font-thin text-3xl font-serif text-black-variant text-center">Create Admin</p>
                <p th:text="${error}" class="font-light text-red-500"></p>
                <input type="text" name = "name" th:field="*{name}" placeholder="Enter Name"
                       class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-light"/>
                <input type="text" name = "email" th:field="*{email}" placeholder="Enter Email"
                       class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-light" required/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500"></div>
                <input type="password" name ="password"  id="password" th:field="*{password}" placeholder="Enter Password"
                       class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-light"
                       required/>
                <input type="password" name ="confirmPassword" id="confirmPassword" placeholder="Confirm New Password"
                       class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-gray-300" th:onmouseout="check_password()" required/>
                <span id="mismatch_password" class ="text-primary hidden">The passwords provided do not match!</span>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-red-500"></div>

                <button type="submit" class="btn btn-primary mt-3 bg-primary mx-auto text-base">Submit
                </button>
            </div>
        </div>
    </form>

    <script type="text/javascript" th:src="@{/js/changePassword.js}"></script>

</div>

</html>
