<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<div layout:fragment="content">
    <div th:each="messageList: ${listOfListOfMessages}" class="border-solid border-2 rounded-2xl p-[8px] m-[8px]">
        <div th:each="message: ${messageList}">
            <th:block th:if="${message.fileName != null and message.file != null}">
                <img th:if="${message.fileName.toLowerCase().matches('.*\.(png|jpe?g|gif|bmp)')}" th:src="${message.file}" th:alt="${message.fileName}" />
                <a th:unless="${message.fileName.toLowerCase().matches('.*\.(png|jpe?g|gif|bmp)')}" th:download="${message.fileName}" th:text="'Download ' + ${message.fileName}"></a>
            </th:block>
            <p th:text="${message.content}" th:class="${messageList.indexOf(message) + 1 == messageList.size()} ? 'text-red-600'" ></p>
        </div>

        <!-- Button to warn user -->
        <form th:action="@{/chats/warnUser}" method="post">
            <div th:each="message: ${messageList}">
                <div th:if="${messageList.indexOf(message) + 1 == messageList.size()}">
                    <input type="number" name="senderId" th:value="${message.sender.id}" hidden>
                    <input type="number" name="messageId" th:value="${message.id}" hidden>
                </div>
            </div>
            <button class="btn bg-black btn-black font-sans text-sm w-20 h-9 p-0">Warn</button>
        </form>

        <!-- Button to ban user -->
        <form th:action="@{/user/banUser}" method="post">
            <div th:each="message: ${messageList}">
                <div th:if="${messageList.indexOf(message) + 1 == messageList.size()}">
                    <input type="number" name="senderId" th:value="${message.sender.id}" hidden>
                    <input type="number" name="messageId" th:value="${message.id}" hidden>
                </div>
            </div>
            <button type="submit" class="btn bg-primary btn-primary font-sans text-sm w-20 h-9 p-0">Ban</button>
        </form>

        <!-- Button to ignore report -->
        <form th:action="@{/chats/ignore}" method="post">
            <div th:each="message: ${messageList}">
                <div th:if="${messageList.indexOf(message) + 1 == messageList.size()}">
                    <input type="number" name="messageId" th:value="${message.id}" hidden>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary font-sans text-sm w-20 h-9 p-0">Ignore</button>
        </form>
    </div>
</div>