<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
    <div layout:fragment="content">
        <!-- It will be displayed if the user has no chat messages -->
        <div th:if="${chats.size() == 0}">
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                <span class="font-medium"></span> You don't have any chat messages
            </div>
        </div>


        <!-- This will be displayed if they already have some chat messages -->
        <div class="container flex flex-wrap pb-28 mb-28">
            <div class="w-11/12 ml-16 shadow-lg rounded-lg h-[25rem]">
                <!-- header -->
                <div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">
                    <div class="font-semibold text-2xl">
                        Your Connections
                    </div>
                </div>
                <!-- end header -->

                <div class="flex flex-row bg-white">
                    <div class="flex-none w-1/3 border-r-2">
                        <div th:if="${chats.size() != 0}" th:each="chat: ${chats}"
                             class="w-11/12 h-[8rem]  mt-5 ml-7 bg-neutral-100  border-gray-200 rounded-lg shadow">
                            <a th:href="@{/chat/{id}(id=${chat.id})}" class="flex pl-8 pt-12">
                                <img class=" w-[60px] h-[60px] rounded-t-2xl" src="/assets/default_user.svg">
                                <div>
                                    <p th:text="${chat.creator.id == globalUserId ? chat.participant.name : chat.creator.name}"
                                       class=" text-xl font-bold"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- This image will be displayed before any chat starts with specific user -->
                    <div class="flex-none w-3/5">
                        <img class="h-auto max-w-full" src="/assets/messaging.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>