<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<div layout:fragment="content">

  <div class="flex flex-col p-4 border border-light mx-auto mt-10 shadow-2xl w-2/3 mb-20 rounded-xl bg-white">

    <div class="flex justify-between m-4">
      <div>
        <p th:text="${position}" class="text-3xl font-serif font-bold"></p>
        <p th:text="${company}" class="inline text-2xl font-serif font-thin"></p>
        <p class="inline text-2xl font-serif font-thin">,</p>
        <p th:text="${address}" class="inline text-2xl font-serif font-thin mb-4"></p>
      </div>

      <div class="m-4 transition hover:-translate-y-0.5 duration-150">
        <!--Only CANDIDATES can save jobs-->
        <a th:if="${role.toString()=='CANDIDATE'}" class="p-4 bg-light text-black text-base-variant mx-auto rounded-2xl font-bold
                 hover:bg-opacity-60">Save</a>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-between m-4 bg-light rounded-md p-4 space-x-0 md:space-x-4">

      <div class="flex flex-col md:max-w-xl space-y-2">
        <div>
          <p class="font-bold">Description</p>
          <p th:text="${description}" class="font-thin font-serif break-words"></p>
        </div>
        <div>
          <p class="font-bold">Mandatory Documents:</p>
          <!--Hard-coded for now.-->
          <p class="font-thin font-serif break-words">Resume, Cover Letter</p>
        </div>
      </div>

      <div class="flex flex-col mt-2 md:mt-0 space-y-2">
        <div>
          <p class="font-bold">Job Type</p>
          <p th:text="${type}" class="font-serif"></p>
        </div>
        <div>
          <p class="font-bold">Number of Positions Available</p>
          <p th:text="${num_available}" class="font-serif"></p>
        </div>
        <div>
          <p class="font-bold">Number of Applicants</p>
          <p th:text="${num_applicants}" class="font-serif"></p>
        </div>
        <div>
          <p class="font-bold">Job Posting</p>
          <!--Hard-coded for now-->
          <p class="font-thin font-serif break-words">Internal/External</p>
        </div>
      </div>

    </div>

    <div th:if="${role.toString()=='CANDIDATE'}" class="mx-auto my-4 transition hover:-translate-y-0.5 duration-150 ">
      <!--Add link below-->
      <a class="mb-4 bg-primary text-white mx-auto p-4 rounded-2xl font-thin
            hover:bg-opacity-60">Apply Now at Synapsis</a>
    </div>

    <div th:if="${role.toString()=='RECRUITER'}" class="mx-auto my-4 transition hover:-translate-y-0.5 duration-150 ">
    <!--Add link below. Only RECRUITERS can edit jobs.-->
      <a th:if="${authorization.toString()=='true'}" class="mb-4 text-white font-thin bg-primary mx-auto p-4 rounded-2xl
            hover:bg-opacity-60">Edit</a>
      <form th:action="@{/deletejob}" th:if="${authorization}" method="post">
        <input type="hidden" name="jid" th:value="${jid}" />
        <button class="mb-4 text-white font-thin bg-primary mx-auto p-4 rounded-2xl
              hover:bg-opacity-60" type="submit">Delete</button>
      </form>
    </div>

  </div>

</div>
</html>