<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<div layout:fragment="content">

    <div class="flex mx-auto justify-center mt-10 space-x-12">
        <!--Job Filters-->
        <div class="border rounded-md self-start p-4 w-1/6">
                <h1 class="text-3xl text-center text-black-variant mb-4">Job Filters</h1>
                <form th:action="@{/jobs}" method="get">
                    <label class="font-thin text-grey font-serif">Job Type</label>
                    <fieldset class="font-serif text-grey">
                        <div th:each="jobType : ${jobTypes}">
                            <input type="radio" name="jobType" th:id="${jobType}" th:value="${jobType}" th:checked="${jobType == jobTypeFilter}" required>
                            <label th:for="${jobType}" th:text="${jobType}" class="font-serif"></label><br>
                        </div>
                    </fieldset> <br>

                    <label class="font-thin text-grey font-serif">Show internal jobs</label><br>
                    <input type="radio" id="internal-yes" name="showInternalJobs" value="true" th:checked="${showInternalJobsFilter != null and showInternalJobsFilter}" required>
                    <label for="internal-yes" class="text-grey font-serif">Yes</label><br>
                    <input type="radio" id="internal-no" name="showInternalJobs" value="false" th:checked="${showInternalJobsFilter != null and !showInternalJobsFilter}">
                    <label for="internal-no" class="text-grey font-serif">No</label><br><br>

                    <label class="font-thin text-grey font-serif">Show external jobs</label><br>
                    <input type="radio" id="external-yes" name="showExternalJobs" value="true" th:checked="${showExternalJobsFilter != null and showExternalJobsFilter}" required>
                    <label for="external-yes" class="text-grey font-serif">Yes</label><br>
                    <input type="radio" id="external-no" name="showExternalJobs" value="false" th:checked="${showExternalJobsFilter != null and !showExternalJobsFilter}">
                    <label for="external-no" class="text-grey font-serif">No</label><br><br>

                    <input type="hidden" name="filterPassed" value="true">
                    <div class="flex justify-center">
                        <button type="submit" class="btn btn-primary bg-primary text-base mx-auto rounded-2xl font-thin transition hover:-translate-y-0.5 duration-150 hover:bg-opacity-60">Filter Jobs</button>
                    </div>
                </form>
        </div>

        <!--Displaying all jobs-->
        <div class="grid grid-cols-1 md:grid-cols-3 md:gap-3 w-1/2">

            <form th:action="@{/jobs}" class="h-full md:col-span-3 col-span-1" method="get">
                <div class="flex h-14 space-x-1">
                    <button type="submit" class="w-10 h-full border rounded-md"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input class="border rounded-md w-full h-full pl-4 font-sans text-xl font-light" placeholder="Search Jobs" name="searchTerm">
                </div>
            </form>

              <div th:if="${jobs.size() == 0}" class="h-14 md:col-span-3 col-span-1 mb-4">
                <div class="p-4 mb-4 mt-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                  No results found.
                </div>
              </div>


              <div th:if="${jobs.size() > 0 and searchTerm != null}" class="h-14 md:col-span-3 col-span-1">
                Searching for <span th:text="${searchTerm}"></span>
              </div>


            <div th:if="${jobs.size() > 0}" th:each="job: ${jobs}" class="flex flex-col inline-block rounded-2xl shadow w-56 min-h-min bg-white mt-4 mr-4 pb-4">

              <img class="w-56 h-40">
              <div class="font-sans text-base font-light mt-2 ml-4" th:text="${job.position}"></div>
              <div class="font-sans text-base font-light mt-2 ml-4" th:text="${job.company}"></div>

              <div class="grow bg-light mx-auto w-11/12 rounded-2xl text-xs mt-2 mb-4">
                <div class="font-sans font-light p-2" th:text="${job.description}"></div>
                <p class="px-2">Salary: TBD</p>
                <a th:href="@{/job/{id}(id=${job.getID()})}" class="inline-block px-2 py-2 underline">More details</a>
                <p class="px-2" th:if="${job.isExternal}">***APPLY BY WEBSITE***</p>
              </div>

              <div class="mx-4 flex justify-center mt-auto">
                <div th:if="${jobsSubmitted.contains(job)}">
                  <button class="inline-block px-4 py-2 text-white bg-red-900 rounded-full" disabled>Submitted</button>
                </div>
                <div th:unless="${jobsSubmitted.contains(job)}">
                  <a th:href="@{/jobapplication/{id}(id=${job.getID()})}" class="inline-block px-4 py-2 text-white bg-red-500 rounded-full">Apply</a>
                </div>
              </div>
            </div>
          </div>

          <div th:if="${!savedJobs.contains(job.getID())}" class="ml-4 mr-4 mt-6 flex justify-center">
            <form th:action="@{/savejob}" method="post">
              <input type="hidden" name="jobId" th:value="${job.getID()}" />
              <button class="mb-4 text-white font-thin bg-primary mx-auto p-4 rounded-2xl
              hover:bg-opacity-60 transition hover:-translate-y-0.5 duration-150" type="submit">Save</button>
            </form>
          </div>

          <div th:if="${savedJobs.contains(job.getID())}" class="ml-4 mr-4 mt-6 flex justify-center">
            <form th:action="@{/deletesavedjob}" method="post">
              <input type="hidden" name="jobId" th:value="${job.getID()}" />
              <button class="mb-4 text-white font-thin bg-primary mx-auto p-4 rounded-2xl
              hover:bg-opacity-60 transition hover:-translate-y-0.5 duration-150" type="submit">Unsave</button>
            </form>
          </div>

        </div>


</div>
</html>