<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<div layout:fragment="content">
    <div class="grid grid-cols-12 grid-rows-20 gap-y-4">
        <div class="col-start-2 col-end-4 row-start-1 row-end-4 bg-light-50 rounded-2xl">
            <div class="ml-4 mt-3 mr-4">
                <div class="font-sans text-3xl font-light mb-4">Connections</div>
                <a href="#" class="flex flex-row justify-between items-end mt-3">
                    <i class="flex-none h-4 w-8 fa-solid fa-users fa-lg"></i>
                    <div class="flex-initial font-sans text-xl font-light w-40 ml-2">All
                        Connections
                    </div>
                    <div class="flex-none font-sans text-xl font-light w-8 text-right" th:text="${connections.size()}"></div>
                </a>
                <a href="#" class="flex flex-row justify-between items-center mt-3">
                    <i class="flex-none h-1 w-8 fa-solid fa-envelope fa-lg"></i>
                    <div class="flex-initial font-sans text-xl font-light w-40 ml-2">Requests</div>
                    <div class="flex-none font-sans text-xl font-light w-8 text-right" th:text="${pendingConnectionRequests.size()}"></div>
                </a>
                <a href="#" class="flex flex-row justify-between items-center mt-3">
                    <i class="flex-none h-2 w-8 fa-solid fa-hand-holding fa-lg"></i>
                    <div class="flex-initial font-sans text-xl font-light w-40 ml-2">Suggestions
                    </div>
                    <div class="flex-none font-sans text-xl font-light w-8 text-right">99+</div>
                </a>
            </div>
        </div>
        <div class="col-start-5 col-end-12 row-span-1 h-14 bg-white border rounded-md">
            <form class="h-full ml-4">

                <input class="w-full h-full font-sans text-xl font-light ml-4"
                       placeholder="Search Connections">
            </form>
        </div>
        <div class="col-start-5 col-end-12 row-span-6 bg-light-50 rounded-2xl">
            <div class="ml-4 mt-3 mr-4">
                <div class="font-sans text-3xl font-light mb-4">
                    Connections Requests
                </div>
                <div class="overflow-x-auto whitespace-nowrap h-80">

                    <p th:text="${error}"></p>
                    <div th:each="pendingConnectionRequest: ${pendingConnectionRequests}" class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="w-56 h-40 rounded-t-2xl">
                        <div class="font-sans text-base font-light mt-2 ml-4" th:text="${pendingConnectionRequest.name}"></div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="ml-4 mr-4 mt-6 flex justify-between">
                            <form th:action="@{/connection/reject}" method="post">
                                <input type="hidden" name="id" th:value="${pendingConnectionRequest.getId()}" />
                                <button class="btn bg-black btn-black font-sans text-sm w-20 h-9 p-0" type="submit">Remove</button>
                            </form>
                            <form th:action="@{/connection/accept}" method="post">
                                <input type="hidden" name="id" th:value="${pendingConnectionRequest.getId()}" />
                                <button class="btn bg-primary btn-primary font-sans text-sm w-20 h-9 p-0" type="submit">Accept</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-start-5 col-end-12 row-span-6 bg-light-50 rounded-2xl">
            <div class="ml-4 mt-3 mr-4">
                <div class="font-sans text-3xl font-light mb-4">
                    Connections
                </div>
                <div class="overflow-x-auto whitespace-nowrap h-80">
                    <div th:each="connection : ${connections}" class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="m-auto w-36 h-40 rounded-t-2xl" src="/assets/default_user.svg">
                        <div class="font-sans text-base font-light mt-2 ml-4" th:text="${connection.name}"></div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="mx-auto mt-6 w-1/2">
                            <button class="btn btn-primary font-sans text-sm w-28 h-9 p-0">View Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>