<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<div layout:fragment="content">
    <div class="grid grid-cols-12 grid-rows-20 gap-y-4">
        <div class="col-start-2 col-end-4 row-start-1 row-end-4 bg-light-50 rounded-2xl">
            <div class="ml-4 mt-3 mr-4">
                <div class="font-sans text-3xl font-light mb-4">Connections</div>
                <div class="flex flex-row justify-between items-end mt-3">
                    <img class="flex-none h-8 w-8" src="" alt="people">
                    <div class="flex-initial font-sans text-xl font-light w-40 ml-2">All
                        Connections
                    </div>
                    <div class="flex-none font-sans text-xl font-light w-8 text-right">1</div>
                </div>
                <div class="flex flex-row justify-between items-center mt-3">
                    <img class="flex-none h-8 w-8" src="" alt="mail">
                    <div class="flex-initial font-sans text-xl font-light w-40 ml-2">Requests</div>
                    <div class="flex-none font-sans text-xl font-light w-8 text-right">3</div>
                </div>
                <div class="flex flex-row justify-between items-center mt-3">
                    <img class="flex-none h-8 w-8" src="" alt="suggestions">
                    <div class="flex-initial font-sans text-xl font-light w-40 ml-2">Suggestions
                    </div>
                    <div class="flex-none font-sans text-xl font-light w-8 text-right">99+</div>
                </div>
            </div>
        </div>
        <div class="col-start-5 col-end-12 row-span-1 h-14 bg-white border rounded-md">
            <form class="h-full ml-4">

                <input class="w-full h-full font-sans text-xl font-light ml-4"
                       placeholder="Search Connections">
            </form>
        </div>
        <div class="col-start-5 col-end-12 row-span-6 bg-light-50 rounded-2xl">
            <div class="ml-4 mt-3 mr-4">
                <div class="font-sans text-3xl font-light mb-4">
                    Connections Requests
                </div>
                <div class="overflow-x-auto whitespace-nowrap h-80">
                    <div class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="w-56 h-40 rounded-t-2xl">
                        <div class="font-sans text-base font-light mt-2 ml-4">Tanya Leduc</div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="ml-4 mr-4 mt-6">
                            <button class="btn btn-black font-sans text-sm w-20 h-9 p-0">Remove</button>
                            <button class="btn btn-primary font-sans text-sm w-20 h-9 p-0 float-right">Accept</button>
                        </div>
                    </div>
                    <div class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="w-56 h-40 rounded-t-2xl">
                        <div class="font-sans text-base font-light mt-2 ml-4">Tanya Leduc</div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="ml-4 mr-4 mt-6">
                            <button class="btn btn-black font-sans text-sm w-20 h-9 p-0">Remove</button>
                            <button class="btn btn-primary font-sans text-sm w-20 h-9 p-0 float-right">Accept</button>
                        </div>
                    </div>
                    <div class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="w-56 h-40 rounded-t-2xl">
                        <div class="font-sans text-base font-light mt-2 ml-4">Tanya Leduc</div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="ml-4 mr-4 mt-6">
                            <button class="btn btn-black font-sans text-sm w-20 h-9 p-0">Remove</button>
                            <button class="btn btn-primary font-sans text-sm w-20 h-9 p-0 float-right">Accept</button>
                        </div>
                    </div>
                    <div class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="w-56 h-40 rounded-t-2xl">
                        <div class="font-sans text-base font-light mt-2 ml-4">Tanya Leduc</div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="ml-4 mr-4 mt-6">
                            <button class="btn btn-black font-sans text-sm w-20 h-9 p-0">Remove</button>
                            <button class="btn btn-primary font-sans text-sm w-20 h-9 p-0 float-right">Accept</button>
                        </div>
                    </div>
                    <div class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="w-56 h-40 rounded-t-2xl">
                        <div class="font-sans text-base font-light mt-2 ml-4">Tanya Leduc</div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="ml-4 mr-4 mt-6">
                            <button class="btn btn-black font-sans text-sm w-20 h-9 p-0">Remove</button>
                            <button class="btn btn-primary font-sans text-sm w-20 h-9 p-0 float-right">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-start-5 col-end-12 row-span-6 bg-light-50 rounded-2xl">
            <div class="ml-4 mt-3 mr-4">
                <div class="font-sans text-3xl font-light mb-4">
                    Connections
                </div>
                <div class="overflow-x-auto whitespace-nowrap h-80">
                    <div class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="w-56 h-40 rounded-t-2xl">
                        <div class="font-sans text-base font-light mt-2 ml-4">Tanya Leduc</div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="mx-auto mt-6 w-1/2">
                            <button class="btn btn-primary font-sans text-sm w-28 h-9 p-0">View Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-start-5 col-end-12 row-span-6 bg-light-50 rounded-2xl">
            <div class="ml-4 mt-3 mr-4">
                <div class="font-sans text-3xl font-light mb-4">
                    Suggestions
                </div>
                <div class="overflow-hidden whitespace-nowrap h-80">
                    <div class="inline-block rounded-2xl shadow w-56 h-72 bg-white mt-4 mr-4">
                        <img class="w-56 h-40 rounded-t-2xl">
                        <div class="font-sans text-base font-light mt-2 ml-4">Tanya Leduc</div>
                        <div class="font-sans text-sm font-light mt-1 ml-4">Craigstutors</div>
                        <div class="mx-auto mt-6 w-24">
                            <button class="btn btn-secondary font-sans text-sm w-24 h-9 p-0">Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>