<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="_layout">
<div layout:fragment="content">


  <div class="container flex flex-wrap flex-col border p-8 ml-12  mt-10 shadow-sm w-2/3 lg:w-2/3 mb-20 rounded-sm">
    <h2 class="text-left text-4xl">Our Services</h2>
    <hr class="border-t border-grey-light">
    <br>
    <ul class=" text-xl   text-grey list-disc list-inside ">
      <li>Connecting with users including recruiters and companies.</li>
      <li>Messaging to other users including sending files and images.</li>
      <li>Searching and applying to internal (via Synapsis) and external jobs.</li>
      <li>Posting jobs and advertising them.</li>
      <li>Having access job alerts and suggestions.</li>
      <li>Filtering jobs and saving them and much more ! </li>
    </ul>
  </div>
</div>
</html>