<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<div layout:fragment="content">

    <form th:action="@{/passwordupdate}" th:object="${passwordUpdateRequest}" method="post">

        <div class="relative flex flex-col border p-8 justify-center mx-auto mt-10 shadow-xl w-1/2 mb-20">
            <p class="font-thin text-3xl m-2 text-center text-grey">Enter your old password and your new password</p>
            <p th:text="${error}" class="font-light text-red-500"></p>
            <input type="text" name="email" id="email" th:field="*{oldPassword}" placeholder="Enter Old Password"
                   class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   required/>

            <input type="password" name="password" id="password" th:field="*{newPassword}"
                   placeholder="Enter New Password"
                   class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   required/>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password"
                   class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   th:onmouseout="check_password()" required/>

            <span id="mismatch_password" class="text-primary hidden">The passwords provided do not match!</span>

            <button type="submit" class="btn btn-primary mt-3 bg-primary text-base w-1/6 mx-auto p-4 rounded-2xl font-thin
                    transition hover:-translate-y-0.5 duration-150 hover:bg-opacity-60">Submit
            </button>
        </div>

    </form>

    <script type="text/javascript" th:src="@{/js/changePassword.js}"></script>

</div>
</html>
