<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<div layout:fragment="content">

    <!-- The password reset functionality in case the user forgets their password and he/she can't log in -->

    <form th:action="@{/passwordreset}" th:object="${registrationRequest}" method="post">

        <div class="relative flex flex-col border p-8 justify-center mx-auto mt-10 shadow-xl w-4/5 lg:w-1/2 mb-20">
            <p class="font-thin text-xl lg:text-3xl m-2 text-center text-grey">Enter your e-mail address and your new password</p>
            <p th:text="${error}" class="font-light text-red-500"></p>
            <input type="text" name="email" id="email" th:field="*{email}" placeholder="Enter Email Address"
                   class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   required/>
            <input type="password" name="password" id="password" th:field="*{password}" placeholder="Enter New Password"
                   class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   required/>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password"
                   class="font-thin font-serif border border-grey mt-4 pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   th:onmouseout="check_password()" required/>

            <span id="mismatch_password" class="text-primary hidden">The passwords provided do not match!</span>

            <p class="font-thin text-2xl text-center text-grey mt-10">Security Questions</p>
            <p class="font-thin text-center text-grey mb-2">Please answer the following questions to verify your identity</p>

            <p class="text-sm md:text-base lg:text-lg mt-4">What is the name of your first pet?</p>
            <input type="text" th:field="*{securityAnswer1}" placeholder="Enter your answer here"
                   class="font-thin font-serif border border-grey pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   required/>

            <p class="text-sm md:text-base lg:text-lg mt-4">What is your mother's maiden name?</p>
            <input type="text" th:field="*{securityAnswer2}" placeholder="Enter your answer here"
                   class="font-thin font-serif border border-grey pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   required/>

            <p class="text-sm md:text-base lg:text-lg mt-4">What is the middle name of your youngest child?</p>
            <input type="text" th:field="*{securityAnswer3}" placeholder="Enter your answer here"
                   class="font-thin font-serif border border-grey pl-3 h-14 content-center rounded-md hover:bg-gray-300"
                   required/>

            <button type="submit" class="btn btn-primary mt-3 bg-primary text-base w-1/3 mx-auto p-4 rounded-2xl font-thin
                    transition hover:-translate-y-0.5 duration-150 hover:bg-opacity-60">Submit
            </button>
        </div>

    </form>

    <script type="text/javascript" th:src="@{/js/changePassword.js}"></script>

</div>
</html>