<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<div layout:fragment="content">
    <p th:text="${error}"></p>
    <form th:action="@{/register}" th:object="${registrationRequest}" method="post">
        <label>Email</label>
        <input type="email" th:field="*{email}" required />

        <label>Name</label>
        <input type="text" th:field="*{name}" required />

        <label>Password</label>
        <input type="password" th:field="*{password}" required />

        <fieldset required>
            <legend>Select which type of account you would like to use:</legend>
            <div>
                <input type="radio" name="role" th:field="*{role}" id="candidate-button" value="CANDIDATE" />
                <label for="candidate-button">Candidate</label>

                <input type="radio" name="role" th:field="*{role}" id="company-button" value="COMPANY" />
                <label for="company-button">Company</label>
            </div>
        </fieldset>

        <button type="submit">Register</button>
    </form>
</div>
</html>