<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<div layout:fragment="content">
    <p th:text="${error}"></p>
    <form th:action="@{/company/update}"
          th:object="${updateCompanyProfileRequest}"
          method="post"
          enctype="multipart/form-data"
    >
        <!-- The page that will be displayed in case company account user wants to edit their profile -->

        <div class="flex max-w-xl bg-neutral-100 border-gray-200 ml-28 rounded-lg shadow">
            <div class="p-5">
                <label>Change Profile Picture</label>
                <input type="file" name="image" accept="image/png, image/jpeg"/>
                <br>
                <label>Change Cover Picture</label>
                <input type="file" name="coverImage" accept="image/png, image/jpeg"/>
                <br>

                <label>Description</label><br>
                <textarea id="description" name="description"
                          class="w-full py-3 px-4 mb-3 h-32 resize-y font-normal tracking-tight text-gray-900  resize-y"
                          th:text="${profile.description}"></textarea>
                <br>
                <label>Website</label><br>
                <input type="text" id="website" name="website" th:value="${profile.website}"
                       class="mb-2 text-left font-normal tracking-tight text-gray-900 "/>

                <br>
                <label>Industry</label><br>
                <input type="text" id="industry" name="industry" th:value="${profile.industry}"
                       oninvalid="this.setCustomValidity('Enter a Valid Industry')"
                       onchange="try{setCustomValidity('')}catch(e){}"
                       oninput="setCustomValidity(' ')"
                       class="mb-2 text-left font-normal tracking-tight text-gray-900 " required/>

                <br>
                <label>Company Size</label><br>
                <input type="text" required
                       oninvalid="this.setCustomValidity(this.value.trim() == '' ? 'Please fill out this field' : 'Please enter a valid number')"
                       onchange="try{if(!/^\d+$/.test(this.value.trim())) throw 'Please enter a valid number'; setCustomValidity('')}catch(e){setCustomValidity(e)}"
                       oninput="setCustomValidity('')"
                       id="companySize" name="companySize" th:value="${profile.companySize}"
                       class="mb-2 text-left font-normal tracking-tight text-gray-900  "/>
                <br>
                <label>Location</label><br>
                <select type="text" id="location" name="country" th:value="${profile.location}"
                        class="country mb-2 text-left font-normal tracking-tight text-gray-900">
                    <option value="" disabled selected>Select a country</option>
                </select>
                <br>
                <label>Speciality</label><br>
                <input type="text" id="speciality" name="speciality" th:value="${profile.speciality}"
                       oninvalid="this.setCustomValidity('Enter a Valid Speciality')"
                       onchange="try{setCustomValidity('')}catch(e){}"
                       oninput="setCustomValidity(' ')"
                       class="mb-2 text-left font-normal tracking-tight text-gray-900 " required/>
                <br>
                <button class=" btn bg-red-500 text-white rounded-full " type="submit">Save</button>
            </div>
        </div>
    </form>
    <script src="/js/countries.js"></script>
</div>
</html>