<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<div layout:fragment="content">
    <h1>Userpage</h1>
    <p th:text="${name}"></p>
    <p th:text="${email}"></p>
    <form th:if="${isConnectedWith}" th:action="@{/disconnect}" method="post">
        <input type="hidden" name="id" th:value="${id}" />
        <button class="btn bg-black btn-black font-sans text-sm w-20 h-9 p-0" type="submit">Disconnect</button>
    </form>
</div>
</html>