<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<div layout:fragment="content">
    <div>
        <div class="pl-32 pr-5 pb-3">
            <div class="flex max-w-xl bg-neutral-100 h-[10rem] border-gray-200 rounded-lg shadow">
                <div class="img">
                    <img class="mt-3.5 rounded-full w-28 h-32" src="../../assets/default_user.svg" alt="Default"/>
                </div>
                <div class="p-5 ">
                    <h5 class="text-left text-2xl font-bold tracking-tight text-gray-900"
                        th:text="${name}"></h5>
                    <p th:text="${description}"></p>
                    <table>
                        <tr>
                            <th>
                                <p class="font-normal text-gray-700" th:text="${work}"></p>
                            </th>
                            <th>
                                <p class="ml-40 font-normal text-gray-700"
                                   th:text="${education}"></p>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <p class="font-normal pl-40 text-gray-700" th:text="${phone}"></p>
                            </th>
                        </tr>
                    </table>
                </div>
                <form th:if="${isConnectedWith}" th:action="@{/disconnect}" method="post">
                    <input type="hidden" name="id" th:value="${id}" />
                    <button class="btn bg-black btn-black font-sans text-sm w-20 h-9 p-0" type="submit">Disconnect</button>
                </form>
                <form th:action="@{/chat/create}" method="post">
                    <input type="hidden" name="id" th:value="${id}" />
                    <button class="btn bg-black btn-black font-sans text-sm w-20 h-9 p-0" type="submit">Chat</button>
                </form>
            </div>
        </div>

        <div th:if="${showControls}" class="flex max-w-lg h-[8rem] bg-neutral-100 mr-60 absolute top-32 right-80 border-gray-200 rounded-lg shadow">
            <div class="pr-10 pb-10 pl-10 pt-5 ">
                <a th:href="@{/user/update}" class=" text-left text-xl  font-normal  text-gray-900">
                    Edit Public Profile
                </a>
                <br>
                <a th:href="@{/passwordresetpage}" class="mb-3 text-left text-xl font normal text-gray-900"> Reset
                    Password</a>
            </div>
        </div>
    </div>



<div class = "flex">
    <div class="w-1/2">
    <div class="pl-32 mb-5 mt-12  ">
        <div class="flex max-w-xl bg-neutral-100 h-[5rem] border-gray-200 rounded-lg shadow">
            <table>
                <tr>
                    <th>
                        <p class="text-left text-2xl ml-8 font-bold text-gray-900">Volunteering</p>
                    </th>
                </tr>
                <td>
                    <p class="font-normal ml-10 text-gray-700" th:text="${volunteering}"></p>
                </td>
            </table>
        </div>
    </div>
        <div class="pl-32 mb-5 ">
            <div class="flex max-w-xl bg-neutral-100 h-[5rem] border-gray-200 rounded-lg shadow">
                <table>
                    <tr>
                        <th>
                            <p class="text-left text-2xl ml-8 font-bold text-gray-900">Course(s)</p>
                        </th>
                    </tr>
                    <td>
                        <p class="font-normal ml-10 text-gray-700" th:text="${course}"></p>
                    </td>
                </table>
            </div>
        </div>

        <div class="pl-32 mb-5 ">
            <div class="flex max-w-xl bg-neutral-100 h-[5rem] border-gray-200 rounded-lg shadow">
                <table>
                    <tr>
                        <th>
                            <p class="text-left text-2xl ml-8 font-bold text-gray-900">Project(s)</p>
                        </th>
                    </tr>
                    <td>
                        <p class="font-normal ml-10 text-gray-700" th:text="${project}"></p>
                    </td>
                </table>
            </div>
        </div>

        <div class="pl-32 mb-5 ">
            <div class="flex max-w-xl bg-neutral-100 h-[5rem] border-gray-200 rounded-lg shadow">
                <table>
                    <tr>
                        <th>
                            <p class="text-left text-2xl ml-8 font-bold text-gray-900">Award(s)</p>
                        </th>
                    </tr>
                    <td>
                        <p class="font-normal ml-10 text-gray-700" th:text="${award}"></p>
                    </td>
                </table>
            </div>
        </div>

        <div class="pl-32  mb-5 ">
            <div class="flex max-w-xl bg-neutral-100 h-[5rem] border-gray-200 rounded-lg shadow">
                <table>
                    <tr>
                        <th>
                            <p class="text-left text-2xl ml-8 font-bold text-gray-900">Skill(s)</p>
                        </th>
                    </tr>
                    <td>
                        <p class="font-normal ml-10 text-gray-700" th:text="${skill}"></p>
                    </td>
                </table>
            </div>
        </div>

        <div class="pl-32 mb-44 ">
            <div class="flex max-w-xl bg-neutral-100 h-[5rem] border-gray-200 rounded-lg shadow">
                <table>
                    <tr>
                        <th>
                            <p class="text-left text-2xl ml-8 font-bold text-gray-900">Language(s)</p>
                        </th>
                    </tr>
                    <td>
                        <p class="font-normal ml-10 text-gray-700" th:text="${language}"></p>
                    </td>
                </table>
            </div>
        </div>
</div>








    <div th:if="${role.toString() =='RECRUITER'}" class="w-1/2 mt-12 ">
        <div class="flex max-w-lg  bg-neutral-100 h-[11rem]  border-gray-200 rounded-lg shadow">
            <a th:href="@{/createjob}">
            <p  class = "text-xl font-normal mt-6 ml-80  text-gray-900">
                Create a job
            <a th:href="@{/createjob}" >
                    <i class="fa-regular fa-square-plus"></i>
                </a>
            </a>
            </p>
        </div>
    </div>
</div>












</div>
</html>
