<!DOCTYPE html>
<html xmlns:th="https://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Synapsis</title>
    <script src="https://kit.fontawesome.com/6ebd7b3ed7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'primary': '#fa2742',
                        'primary-variant': '#fc9ca8',
                        'black': '#1d2228',
                        'black-variant': '#3c4653',
                        'grey': '#8f949b',
                        'light-50': '#f0f1f1',
                        'light': '#e1e2e2',
                        'light-blue': '#edf1f7'
                    },
                    fontFamily: {
                        sans: ['Merriweather Sans', 'sans-serif'],
                        serif: ['Catamaran', 'serif'],
                    },
                    gridTemplateRows: {
                        '20': 'repeat(20, minmax(0, 1fr))',
                        'span-7': 'span 7 / span 7'
                    }
                }

            }
        }
    </script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="overflow-x-hidden">
<div th:replace="fragments/navbar :: navbar"></div>
<div layout:fragment="content">
    Some content
</div>
<div th:replace="fragments/footer :: footer"></div>

<script src="js/index.js"></script>
</body>
</html>