<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<ul th:fragment="notification_list" id="notification_output" class="p-2">
    <div class="langEN">
        <li th:if="${notificationList.empty}" class="p-2">
        <td >Nothing to show!</td>
    </li>
    </div>
    <!-- localized version of same message-->
    <div class="langFR">
        <li th:if="${notificationList.empty}" class="p-2">
            <td >Rien à montrer!</td>
        </li>
    </div>
    <li th:each="notification, iStat : ${notificationList}" class="">
        <a th:onclick="'sendSeen(' + ${notification.id} + ')'" th:href="${notification.url}"
           class="flex justify-around items-center w-52">
            <div th:if="${notification.getType().toString() == 'MESSAGE'}" class="">
                <i class="fa-solid fa-message"></i></div>
            <div th:if="${notification.getType().toString() =='CONNECTION'}" class="">
                <i class="fa-solid fa-user-group"></i></div>
            </div>
            <div th:if="${notification.getType().toString() =='JOB'}" class="">
                <i class="fa-solid fa-briefcase"></i></div>
            </div>
            <div id="unseen" th:if="${!notification.seen}" th:text="${notification.text}" class="flex-none w-36 text-sm font-bold truncate"></div>
            <div th:if="${notification.seen}" th:text="${notification.text}" class="flex-none w-36 text-sm truncate"></div>
        </a>
        <hr th:if="${iStat.count != (iStat.size)}" class="mt-2 mb-2">
    </li>
</ul>
</html>

