<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="_layout">
<div layout:fragment="content">
    <div class="flex flex-col items-center justify-center">
        <div class="langEN text-3xl lg:text-6xl text-black font-medium font-serif">404 Error</div>
        <div class="langFR text-3xl lg:text-6xl text-black font-medium font-serif">Erreur 404</div>

        <div class="langEN text-lg md:text-xl lg:text-2xl text-grey font-normal mt-8 lg:mt-16">It seems that page does not exist...</div>
        <div class="langFR text-lg md:text-xl lg:text-2xl text-grey font-normal mt-8 lg:mt-16">Il semblerait que cette page n'existe pas...</div>

        <a href="/" class="langEN text-xl lg:text-2xl btn btn-primary mt-8 ml-6">Return Home</a>
        <a href="/" class="langFR text-xl lg:text-2xl btn btn-primary mt-8 ml-6">Revenir à la page d'accueil</a>
    </div>
</div>
</html>